.example-spacer {
    flex: 1 1 auto;
} 

@media (min-width: 300px) and (max-width: 700px){
    mat-toolbar{
        background-color: pink;
    }

    #menuInicio{
        display: none;

    }
    #menuProducto{
        display: none ;
    }


}

@media (min-width: 700px) {
    mat-toolbar {
        background-color: blue;
    }

    #menuSecciones{
        display:none;
        
    }
}